<form id="frmUploadSpeech" action="employee/save" method="POST" accept-charset="utf-8">
    <div>
        <div class="Mrphs-toolTitleNav__button_container ">
            <div>
                <input name="attachment" class="input-file" type="file" id="attachment"/>
                <span>Upload audio file from your computer (<5MBs)</span>
            </div>
        
            <nav class="Mrphs-toolTitleNav Mrphs-container--toolTitleNav" aria-label="Tool navigation">
                <button id="btnSave" class="btn btn-primary" disabled="true">Export</button>
            </nav>
        </div>
    </div>
    
    <!--<div id="tblEmployee" class="table-responsive scroll-container">-->
    <div>
        <p id="resultText"></p>
    </div>
</form>